.string{
color:#000000;
font: normal 10pt "Courier New";
}
.chars{
color:#000000;
font: normal 10pt "Courier New";
}
.docComment{
color:#0002E8;
font: normal 8pt "lucida console";
}
.sourceCode{
color:black;
font: normal 10pt "courier";
background-color : fff5ee;
}
.bracket{
color:#000000;
font: normal 10pt "Courier New";
}
.border{
color:black;
font: normal 10pt "lucida console";
BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP:#6699cc 1px solid;BORDER-LEFT:#6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid;
}
.operator{
color:#000000;
font: normal 10pt "Courier New";
}
.datatype{
color:blue;
font: normal 10pt "Courier new";
}
.sourceTitle{
color:black;
font: bold 10pt "tahoma";
background-color : ffcc00;
}
.keyword{
color:blue;
font: normal 10pt "Courier New";
}
.number{
color:#000000;
font: normal 10pt "Courier New";
}
.comment{
color:#007f00;
font: normal 10pt "Courier New";
}
